<footer>
  <div class="conteiner">
    <div class="row">
      <div class="footer_item1 col-md-4">
        <div class="footer_item1_title">
          <span>MoGo</span>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus aperiam ab exercitationem rem repellat blanditiis modi! Eos nostrum perferendis suscipit.</p>
        </div>
        <div class="footer_item1_follow">
          <p> <span>15k</span> followers</p>
          <div class="footer_item1_follow_buttons">
            <p>Follow Us</p>
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-tumblr" aria-hidden="true"></i></a>
          </div>
          <div class="footer_item1_follow_inputMail"><input type="text" placeholder="Enter your email" required><button>Subscribe</button></div>
        </div>
      </div>
      <div class="footer_item2 col-md-4">
        <h6>blog</h6>
        <div class="footer_item2_blog">
          <img src="assets/footer/blog/blog1.png" alt="">
          <p>Lorem ipsum dolor sit amet,
            consectetur adipiscing</p>
        </div>
        <div class="footer_item2_blog">
          <img src="assets/footer/blog/blog2.png" alt="">
          <p>Consectetur adipiscing elit,
            sed do eiusmod tempor</p>
        </div>
        <div class="footer_item2_blog">
          <img src="assets/footer/blog/blog3.png" alt="">
          <p>sed do eiusmod tempor
            incididunt ut labore</p>
        </div>
      </div>
      <div class="footer_item3 col-md-4">
        <h6>instagram</h6>
        <div class="row">
          <img src="assets/footer/instagram/photo1.png" alt="" class="col-sm-3 col-4">
          <img src="assets/footer/instagram/photo2.png" alt="" class="col-sm-3 col-4">
          <img src="assets/footer/instagram/photo3.png" alt="" class="col-sm-3 col-4"></div>
        <div class="row">
          <img src="assets/footer/instagram/photo4.png" alt="" class="col-sm-3 col-4">
          <img src="assets/footer/instagram/photo5.png" alt="" class="col-sm-3 col-4">
          <img src="assets/footer/instagram/photo6.png" alt="" class="col-sm-3 col-4"></div>
        <div class="row">
          <img src="assets/footer/instagram/photo7.png" alt="" class="col-sm-3 col-4">
          <img src="assets/footer/instagram/photo8.png" alt="" class="col-sm-3 col-4">
          <img src="assets/footer/instagram/photo9.png" alt="" class="col-sm-3 col-4"></div>
        <p>View more photos</p>
      </div>
    </div>
  </div>
</footer>
