
<section>
  <div class="conteiner">
    <div class="section_title">
      <h6>What we do</h6>
      <h1>Story about us</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
        error, dolorem unde molestias minus eum. Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Itaque tempora dolor minus atque
        impedit accusamus!
      </p>
    </div>

    <div class="row justify-content-center">
      <div class="aboutImg col-10 col-md-3">
        <img src="assets/about1.jpg" alt="" />
        <div class="imgTitle">
          <p><i class="fa fa-users" aria-hidden="true"></i></p>
          <p>super team</p>
        </div>
      </div>
      <div class="aboutImg col-10  col-md-3">
        <img src="assets/about2.jpg" alt="" />
        <div class="imgTitle">
          <p><i class="fa fa-users" aria-hidden="true"></i></p>
          <p>super team</p>
        </div>
      </div>
      <div class="aboutImg col-10  col-md-3">
        <img src="assets/about3.jpg" alt="" />
        <div class="imgTitle">
          <p><i class="fa fa-users" aria-hidden="true"></i></p>
          <p>super team</p>
        </div>
      </div>
    </div>
  </div>

  <div id="achievement">
    <div class="conteiner">
      <div class="row align-items-cente justify-content-center ">
        <div class="counters col-sm-4 col-md-2">
          <h3>42</h3>
          <p>Web Design Projects</p>
        </div>
        <div class="counters col-sm-4 col-md-2">
          <h3>125</h3>
          <p>happy client</p>
        </div>
        <div class="counters col-sm-4 col-md-2">
          <h3>15</h3>
          <p>award winner</p>
        </div>
        <div class="counters col-sm-4 col-md-2">
          <h3>99</h3>
          <p>cup of coffee</p>
        </div>
        <div class="counters col-sm-4 col-md-2">
          <h3>24</h3>
          <p>members</p>
        </div>
      </div>
    </div>
  </div>
</section>
