<div class="imgCard">
  <img [src]="image.imgUrl" alt="" />
  <div class="zoom">
    <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
    <p><button class="zoomButton" (click)="openVerticallyCentered(content)">Click to zoom</button></p>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{image.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img [src]="image.imgUrl" alt="" class="modalImg">
    <p>{{image.text}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

