@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:700|Roboto');


$fcolor: #fcefef;
$tcolor: #ffffff;
$textColor: #999999;
$blueColor: #95e1d3;
$mont: "Montserrat", sans-serif;
$kaush: "Kaushan Script", cursive;
$rob: "Roboto", sans-serif;
$gradient: linear-gradient(
    to top,
    rgb(237, 216, 136) 0%,
    rgb(234, 161, 133) 60%,
    rgb(230, 128, 130) 100%
);
