<section>
  <div class="conteiner">
    <div class="section_title">
      <h6>We work with</h6>
      <h1>Amazing Services</h1>
    </div>
    <div class="row justify-content-center">
      <div class="servises_conteiner col-sm-6 col-md-4">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <h3>Photography</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
          dolorem architecto consequatur dolores culpa voluptatum.
        </p>
      </div>
      <div class="servises_conteiner col-sm-6 col-md-4">
        <i class="fa fa-picture-o" aria-hidden="true"></i>
        <h3>Web Design</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
          a.
        </p>
      </div>
      <div class="servises_conteiner col-sm-6 col-md-4">
        <i class="fa fa-desktop" aria-hidden="true"></i>
        <h3>Creativity</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
          commodi incidunt laboriosam unde sunt accusantium omnis odit a
          saepe earum.
        </p>
      </div>
      <div class="servises_conteiner col-sm-6 col-md-4">
        <i class="fa fa-book" aria-hidden="true"></i>
        <h3>seo</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Corrupti, consequatur.
        </p>
      </div>
      <div class="servises_conteiner col-sm-6 col-md-4">
        <i class="fa fa-home" aria-hidden="true"></i>
        <h3>Css/Html</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore
          unde commodi explicabo quas dolorem vel optio quisquam. Possimus,
          suscipit repudiandae!
        </p>
      </div>
      <div class="servises_conteiner col-sm-6 col-md-4">
        <i class="fa fa-crosshairs" aria-hidden="true"></i>
        <h3>digital</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima
          obcaecati beatae ratione veritatis nam quae.
        </p>
      </div>
    </div>
  </div>
</section>
